/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Apply the font globally */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: black;
  color: white;
}

/* Other global styles */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
